<nav class="navbar green darken-3 navbar-fixed-top fixed-top" role="navigation">
    <div class="nav-wrapper" id="myNavbar">
      <div style="padding-left: 20px; padding-right: 20px" class="collapse navbar-collapse"><a id="logo-container" href="#" class="brand-logo"><img src="images/logo.png" height="50px"></a></div>
      <ul class="right hide-on-med-and-down">
        <li><a href="#" class="white-text">Home</a></li>
        <li><a href="#aboutus" class="white-text">About Us</a></li>
        <li><a href="#ourteam" class="white-text">Our Team</a></li>
        <li><a href="#footer" class="white-text">Contact Us</a></li>
        <li><a href="#footer" class="white-text">Updates</a></li>
        <li><a href="http://loan.nnpcibadancoop.com" class="white-text">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#aboutus">About Us</a></li>
        <li><a href="#ourteam">Our Team</a></li>
        <li><a href="#contactus">Contact Us</a></li>
        <li><a href="#updates">Updates</a></li>
        <li><a href="http://loan.nnpcibadancoop.com">Login</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot" style="margin-top: 30px;">
      <div class="container">
        <br><br>
        <h1 class="header center white-text text-lighten-2 text-shadow-2">Welcome</h1>
        <div class="row center">
          <h5 class="header col s12 light text-shadow-1">Welcome to NNPC Depot Ibadan Cooperative Society Loan portal. We are here to help you as much as we can. To get started, click the Get started button below</h5>
        </div>
        <div class="row center">
          <a href="http://loan.nnpcibadancoop.com" id="download-button" class="btn-large waves-effect waves-light green darken-3">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="http://res.cloudinary.com/dzwafstu3/image/upload/v1528162923/nnpc/background1.jpg" alt="Unsplashed background img1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">business</i></h2>
            <h5 class="center">Loan Tracking</h5>

            <p class="light">You can now track Loan Application, Loan Repayment and Loan Approval with ease on your laptop or mobile devices. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings_cell</i></h2>
            <h5 class="center">Mobile Compactible</h5>

            <p class="light">The portal is responsive and so you can use the portal from any mobile devices like Android and IOS without missing anything out.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Account Management</h5>

            <p class="light">You can manage your account with ease and check your eligibility for a loan you are trying to apply for. You can also view loan history and details.</p>
          </div>
        </div>
      </div>

    </div> 
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        <i class="large material-icons text-shadow-1">info_outline</i>
          <h4 class="header col s12 text-shadow-1">You can get loan for virtually anything, all conditions apply. We also have a very flexible repayment plan for our staff members. </h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://res.cloudinary.com/dzwafstu3/image/upload/v1528162924/nnpc/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>
  <div class="container targetlocation" id='aboutus'></div>
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>About Us</h4>
          <p class="left-align light">The cooperative society started as a small group in 1997 having an affiliate with the oyo state ministry of commerce & industry. It comprises of marketers, tanker drivers and staff. It was first called NNPC Ibadan community Cooperative Investment and Credit Society. The contribution then was by cash from members and later deposited in our then WEMA Bank account.<br/> 
          First Executive <br/>
          Alhaji Olatunji  - president <br/>
          Omorege – Vice President<br/>
          Mr Wahab – Treasurer<br/>
          Mrs. Oladeji – Asst. Secretary <br/>
          Due to defaults from marketers and tankers drivers, they were dropped in 2000. In 2004, the coop entered payroll fully, which made it difficult for outsiders to join since its direct deduction from pay point. <br/>
          NNPC DEPOT (IB) STAFF COOPERATIVE INV. & CREDIT SOCIETY LTD was fully registered on 13th of May, 2004 with the aim and objective of promoting and helping their members in bringing their vision into reality. The society keeps money in form of monthly contributions and also grant loan(s) in low percentage interest to the members. <br/>
          The first president was retired in 2005, which made Mr omorege to become the acting president and he was latter retired in 2007.<br/>
          Due to massive retirement in 2006 and 2007, committee was set up which was to be headed by  Mr. Erinoso, Mr Konigbagbe as the secretary and Mr Wahab as the Treasurer. <br/> 
          By 2010, the cooperative experienced a very high degree of patronage due to the strategies, transparency and aggressive marketing of the cooperative by the then executives. The cooperative grew up to about 250 members by 2013. <br/> 
          The first AGM was held in 2013 and fully witnessed by the oyo state ministry of commerce and industry.<br/>
          Hence the first monitored election conducted.<br/>
          Mr Erinoso – President <br/>
          Mr Konigbagbe – Secretary <br/>
          Mrs Oladeji – Asst. Secretary <br/>
          Mr Wahab – Treasurer <br/>
          Mr Aina – Assistant Treasurer <br/>
          Mr Lawal – Fin. Sec <br/>
          Mr Amanah - Auditor
          </p>
        </div>
      </div>

    </div>
  </div>
<!-- About Page Starts here -->
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        <i class="large material-icons text-shadow-1">supervisor_account</i>
          <h4 class="header col s12 text-shadow-1">We have a formidable and reliable team to deliver to your best interest. We are here for you and making you happy is our utmost desire.</h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://res.cloudinary.com/dzwafstu3/image/upload/v1528162922/nnpc/background3.jpg" alt="Unsplashed background img 2"></div>
  </div>

  
  <div class="container">
    <div class="section">
      <div class="container targetlocation" id='ourteam'></div>
      <div class="row">
        <div class="col s12">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Our Team</h4>
          <div class="carousel">
            <a class="carousel-item center" href="#one!"><img src="http://res.cloudinary.com/dzwafstu3/image/upload/v1528162876/nnpc/executives/president.jpg"> President - Engr Erinoso O.O </a>
            <a class="carousel-item center" href="#two!"><img src="http://res.cloudinary.com/dzwafstu3/image/upload/v1528162876/nnpc/executives/vice-president.jpg">Vice President - Engr Konigbagbe J. A</a>
            <a class="carousel-item center" href="#three!"><img src="http://res.cloudinary.com/dzwafstu3/image/upload/v1528162876/nnpc/executives/secretary.jpg">Secretary - Engr Alowolodu Adegboyega</a>
            <a class="carousel-item center" href="#four!"><img src="http://res.cloudinary.com/dzwafstu3/image/upload/v1528162875/nnpc/executives/coop-exco.jpg">Coop Exco - Mr Lawal Olalekan Rafiu</a>
            <a class="carousel-item center" href="#five!"><img src="http://res.cloudinary.com/dzwafstu3/image/upload/v1528162875/nnpc/executives/coop-exco2.jpg">Coop Exco - Engr Onovae Simon</a>
            <a class="carousel-item center" href="#six!"><img src="http://res.cloudinary.com/dzwafstu3/image/upload/v1528162877/nnpc/executives/coop-exco3.jpg">Coop Exco - Mr Amanah David</a>
            <a class="carousel-item center" href="#seven!"><img src="http://res.cloudinary.com/dzwafstu3/image/upload/v1528162875/nnpc/executives/coop-exco4.jpg">Coop Exco - </a>
            <a class="carousel-item center" href="#eight!"><img src="http://res.cloudinary.com/dzwafstu3/image/upload/v1528162877/nnpc/executives/coop-admin-sec.jpg">Coop Admin Sec. - Mrs Ejalonibu Bosede</a>
            <a class="carousel-item center" href="#nine!"><img src="http://res.cloudinary.com/dzwafstu3/image/upload/v1528162875/nnpc/executives/manager-supermat.jpg">Coop exco / Manager supermat - Engr Falegbe Mayowa</a>
            <a class="carousel-item center" href="#ten!"><img src="http://res.cloudinary.com/dzwafstu3/image/upload/v1528162876/nnpc/executives/coop-book-keeper.jpg">Coop book keeper - Mrs Adeyemi Oluremi</a>
          </div>
        </div>
      </div>

    </div>
  </div>


<!-- About Page Ends here -->

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <i class="large material-icons text-shadow-1">phone</i>
          <h4 class="header col s12 light text-shadow-2">Our Customer Service Support is second to none.</h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://res.cloudinary.com/dzwafstu3/image/upload/v1528162922/nnpc/background4.jpg" alt="Unsplashed background img 3"></div>
  </div>
<div class="container targetlocation" id='footer'></div>
  <footer class="page-footer green darken-3" >
    <div class="container" id="contactus">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contact Us</h5>
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="fullname" type="text" class="validate">
                    <label for="fullname">Full Name</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input  id="email" type="text" class="validate">
                    <label for="email" data-error="wrong" data-success="right">Email</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">subtitles</i>
                    <input id="subject" type="text" class="validate">
                    <label for="subject">Subject</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">comment</i>
                    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                    <label for="icon_prefix2">Message</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12 center">
                    <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Send
                      <i class="material-icons right">send</i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
        </div>
        <div class="col l6 s12" id="updates">
          <h5 class="white-text">Updates</h5>
          
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Designed by <a href="http://idigited.com.ng">idigited</a>
      </div>
    </div>
  </footer>
